.formcard {
    background-color: #f6fffe;
    border-radius: 16px;
    max-width: 400px; /* Adjust the max-width as needed */
  width: 100%;
  
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Adjust the height as needed */
  }
  .submit {
    background: linear-gradient(90deg, #1796ff 0%, #005499 100%);
    border-radius: 16px;
    width: 120px;
  }